.nav-container {
	padding: 20px 0 0 0;
}

.search-container {
	padding: 20px 0 20px 0;
}

.content-container {
	padding: 0 0 20px 0;
}

.footer-container {
	padding: 10px 0 10px 10px;
	font-size: 10px;
	color: #fff;
	background-color: #4CAF50;
}

.book-img {
	width: 128px;
}

.loader {
	height:100%;
	background:url('../img/loader.gif');
	background-repeat: no-repeat;
	background-position: top center;
}

.book-item {
	margin-bottom: 20px;
	overflow: auto;
}