.nav-container {
	padding: 20px 0 0 0;
}

.search-container {
	padding: 20px 0 20px 0;
}

.content-container {
	padding: 0 0 20px 0;
}

.footer-container {
	padding: 10px 0 10px 10px;
	font-size: 10px;
	color: #fff;
	background-color: #4CAF50;
}